body{
    margin: 0;
}


nav{
    position: absolute;
    width: 100%;
    height: 88px;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color:#f4f6fb;
    
}
.logoP{
    margin: 0%;
}


.logo{
    position: absolute;
    width: 70px;
    height: 32px;
    left: 165px;
    top: calc(50% - 32px/2);
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 159px;
    height: 42px;
    right: 165px;
    top: calc(50% - 42px/2);
}

header{
    position: absolute;
    width: 100%;
    height: 672px;
    left: 0px;
    top: 88px;
    background-color: #f4f6fb;
    


}

.presentation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 445px;
    height: 368px;
    right: 190px;
    top: calc(50% - 368px/2);
}

.image1{
    position: absolute;
    left: 190px;
    right: 640px;
    top: 80px;
    bottom: 80px;
}
.calc{
    position: absolute;
    width: 100%;
    height: 600px;
    left: 0px;
    top: 760px;
    text-align: center;
    
    background-color: #f4f6fb;
}

.calcInputCC{
    position: absolute;
    left: 4.24%;
    right: 51.46%;
    top: 9.17%;
    bottom: 30.5%;
    background-color: #3c64b1;
    border-radius: 30px;

}

.calcInputE{
    position: absolute;
    left: 51.25%;
    right: 4.44%;
    top: 9.17%;
    bottom: 30.5%;
    background-color: #3c64b1;
    border-radius: 30px;        
}

.calcButton{
    position: absolute;
    left: 24.24%;
    right: 24.31%;
    top: 77%;
    bottom: 5.67%;
    background-color:#3c64b1; 
    border-radius: 30px;  
}

.button{
    position: absolute;
    left: 10%;
    right: 90%;
    top: 30%;
    bottom: 70%;
    
    /* Button - bold 14 (18, 0.3px) */
    
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    /* or 129% */
    
    letter-spacing: 0.3px;
}

.resultat{
    position: absolute;
    left: auto;
    right: 10%;
    top: 25%;
    bottom: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}